{
  "ibmcloud_api_key": $VALIDATION_APIKEY,
  "cloudability_api_key": $CLOUDABILITY_APIKEY,
  "resource_group_name": "validation-infra-scan",
  "use_existing_resource_group": false,
  "skip_verification": true
}
